<div class="jumbotron">
  <h1 class="display-4">Bem vindo</h1>
  <hr class="my-4">
  {{#if user}}
  {{else}}
    <a class="btn btn-primary btn-lg" href="usuarios/registro" role="button">Crie uma conta</a>
  {{/if}}
</div>
<hr>
