<h4>Cadastrar produto</h4>
<div class="card">
  <div class="card-body">
    <form action="/usuarios/cadastrarprodutos" method="POST">
       <label for="email">Nome: </label>
        <input class="form-control" type="nome" name="nome" required> <br>
      <button class="btn btn-success" type="submit">Ok</button>
    </form>
  </div>
</div>
