<h4>Produtos</h4>
<div class="card">
  <div class="card-body">
    <form action="/usuarios/recuperarsenha" method="POST">
       <label for="email">Email: </label>
        <input class="form-control" type="email" name="email" required> <br>
      <button class="btn btn-success" type="submit">Ok</button>
    </form>
  </div>
</div>
