<div class="card w-25 p-3">
  <h3 class="mt-4 row d-flex justify-content-center">Cadastro </h3>
  <div class="card-body">
    <form action="/usuarios/registro" method="POST">
      <label for="nome">Nome: </label>
        <input type="text" name="nome" class="form-control" required>
      <label for="email">Email: </label>
        <input type="email" name="email" class="form-control" required>
      <label for="senha">Senha: </label>
        <input type="password" name="senha1" class="form-control" required>
      <label for="senha2">Repita a sua senha: </label>
        <input type="password" name="senha2" class="form-control">
      <button type="submit" class="btn btn-success mt-4">Criar conta</button>
    </form>
  </div>
</div>
